/ressources/PdfFichesPerso/FicheSorcier_backup.pdf
/ressources/PdfFichesPerso/FicheRoublard_backup.pdf
/ressources/PdfFichesPerso/FicheSombregarde_backup.pdf
/ressources/PdfFichesPerso/FicheGuerrier_backup.pdf
/ressources/PdfFichesPerso/FicheClerc_backup.pdf
/ressources/PdfFichesPerso/FicheDruide_backup.pdf
/ressources/PdfFichesPerso/FichePaladin_backup.pdf
/ressources/PdfFichesPerso/FicheRodeur_backup.pdf
/ressources/PdfFichesPerso/FicheMagicien_backup.pdf

/templates_c/*.tpl.php
./templates_c/*.tpl.php
/templates_c/*/*.tpl.php
./templates_c/*/*.tpl.php
/templates_c/**/*.tpl.php
./templates_c/**/*.tpl.php
/templates_c/
./templates_c/
*.tpl.php
/*.tpl.php
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
