.imagePersonnage
{
    margin-left: -20px;
    border-radius: 20px;
    max-width:100%;
    max-height: 510px;
}

/* CSS pour les images de la page d'accueil' */

.imageDecoAccueil
{
    border-radius: 20px;
    max-width:70%;
    box-shadow: 0 0 5px #666;
    float:right;
    margin-left:10px;
}

.imageDecoAccueilDes
{
    max-width: 40%;
    max-height: 170px;
    box-shadow: none;
}

.imageDecoAccueilLivres
{
    max-width: 50%;
}

.imageCarte
{
    border-radius: 20px;
    max-width:100%;
    max-height: 900px;
}