.communImages
{
    border-radius: 20px;
    box-shadow: 0 0 5px #666;
}

.imagePersonnage
{
    margin-left: -20px;
    border-radius: 20px;
    max-width:100%;
    max-height: 510px;
    box-shadow: none;/*0 0 5px #666;*/
}

/* CSS pour les images de la page d'accueil' */
.imageDecoAccueil
{
    border-radius: 20px;
    max-width:60%;
    box-shadow: 0 0 5px #666;
    float:right;
    margin-left:10px;
}

.imageDecoAccueilDes
{
    max-width: 50%;
    max-height: 240px;
    box-shadow: none;
}

.imageDecoAccueilLivres
{
    max-width: 50%;
    box-shadow: none;
}

/* CSS pour les images de la page de création de personnage */
.imageClassesRaces
{
    border-radius: 20px;
    max-width:90%;
    max-height: 550px;
    margin:10px;
}

.imageLorcRaces
{
    max-height:60px;
    float:left;
    margin:10px;
    box-shadow:none;
}

.imageAlignementCreation
{
    max-width:20%;
    max-height: 100px;
    float:right;
    margin: 10px;
    margin-top:30px;
    box-shadow: none;
}

.imageEquipementCreation
{
    max-width:25%;
    max-height: 130px;
    float:right;
    margin: 10px;
    margin-top: 70px;
    /*background-color: white;*/
    box-shadow: none;
}

.imageCompeCarac
{
    max-width:20%;
    max-height: 120px;
    float:right;
    margin: 10px;
    margin-top: 40px;
    box-shadow: none;
}

/* CSS pour les images de la page de choix de classe */
.imageLogoClasseChoix
{
    max-height: 60px;
    float:left;
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.imageChoixClasses
{
    width: 40%;
    margin: 10px 1% 10px 1%;
    float :left;
}

.imagesDescriptionClasse
{
    height:80px;
    width:80px;
    float:right;
    margin-left:5px;
    margin-top:20px;
    box-shadow: none;
    border-radius: 0;
}

.imageLogoClasse
{
    max-height: 60px;
    float:left;
    margin: 10px;
}

.imageLogoClasseFiche
{
    max-height: 60px;
    margin-top: 40px;
    margin-left:10px;
}

.imageSortClasse
{
    height:80px;
    width:80px;
    margin:5px;
    float:left;
}

/* CSS pour les images des pages de races */
.imageLogoClasseRace
{
    max-height: 40px;
    float: left;
    margin: -9px 10px 20px 10px
}

.imagePaysageRace
{
    float:left;
    margin-right: 22px;
    margin-top: 12px;
    margin-left: 8px;
    margin-bottom: 16px;
}

/* CSS pour les images de la page d'alignement */
.imageLogoAlignement
{
    max-height: 60px;
    float:left;
    margin: 10px;
    border-radius: 10px;
    box-shadow:none;
}

/* CSS pour les images de la page des dons */
.imageLogoDon
{
    max-height: 60px;
    float:left;
    margin: 10px;
    border-radius: 10px;
    box-shadow:none;
}

/* CSS pour les images de la page des caractéristiques */
.imageLogoCarac
{
    max-height: 60px;
    float:left;
    margin: 10px;
    border-radius: 10px;
}

.imageArbreCarac
{
    max-width: 20%;
    max-height: 120px;
    float: left;
    box-shadow: none;
    margin-right: 10px;
}

/* CSS pour les images de la page des compétences */
.imageCompeGauche
{
    max-height: 100px;
    float: left;
    margin-right: 15px;
}

.imageCompeDroite
{
    max-height: 240px;
    float: right;
    margin-left: 25px;
    margin-top: -10px;
}

/* CSS pour les images de la page du monde de Telneria */
.imageCarte
{
    margin:10px 0 10px 0;
    max-width:90%;
    /*max-height: 900px;*/

}

.imageLogoSystemeUnite
{
    max-height: 60px;
    float:left;
    margin: 10px;
    border-radius: 10px;
    box-shadow:none;
}

.imageRegion
{
    margin:60px 2px 5px 10px;
    max-width:45%;
    float:right;
}

/* CSS pour les images de la page d'équipement */
.imageEquipementEquip
{
    max-height: 300px;
    max-width: 90%;
    box-shadow: none;
}

.imageArme
{
    width:100px;
    height:100px;
    float:right;
    margin-left:15px;
    margin-top:15px;
}

.imageEquipementCommun
{
    width:90px;
}


/*CSS pour les images de la page des monstres */
.imageTousMonstres
{
    max-width: 100%;
    box-shadow: none;
}

.imageLogoMonstres
{
    max-height:80px;
    float:left;
    margin:10px;
    box-shadow:none;
}

/* CSS pour les images de la page de préparation des personnages */
.imagePrepTour
{
    max-width: 20%;
    box-shadow:none;
    float:right;
    margin-top:50px;
}

.imagePrepLanterne
{
    max-width:35%;
    box-shadow: none;
    float:right;
    margin-top:50px;
}

/* CSS pour les images de la page d'expérience */
.imageExpGuerrier
{
    max-width: 35%;
    float:right;
    margin-top:50px;
    margin-left: 10px;
}

.imageExpTelnas
{
    max-width:35%;
    float:right;
    margin-top:50px;
    margin-left: 10px;
}

/* Css pour les images de la page de combat */
.imageCombatInitiative
{
    max-height:80px;
    float:left;
    margin:0 10px 0 0;
    box-shadow: none;
}

.imageCombatModificateurs
{
    max-height: 80px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: none;
}

.imageCombatJetToucher
{
    max-width: 100%;
    margin-top: 50px;
    box-shadow: none;
}

.imageCrane
{
    max-height: 160px;
    float: right;
    margin-left: 25px;
    margin-bottom: 20px;
}

.imageCombatTelnas
{
    max-height: 240px;
    float: right;
    margin-left: 25px;
    margin-bottom: 20px;
    box-shadow: none;
}