html
{
    cursor: url('../ressources/curseurs/GantOuvert32.png'), auto;
    /*margin-top:-30px;*/
    overflow-y: scroll;
}

body
{
	/*background-color:#E9E79E;*/
        background-image:url('../ressources/FondParcheminBody.jpg');
        background-size: 20%;
        /*background-repeat:no-repeat;
	background-position:left;
        background-position:100% 100%;*/
	padding:0px;
	margin:0px;
        
        font-family: 'Pierce',Verdana, Geneva, sans-serif;
	font-size: 12px;
        /*text-shadow: 0.2em 0.3em 1em #C4C0AD;*/
        
}

a:link
{
    cursor: url('../ressources/curseurs/GantPointe32.png'), auto;
    outline: none;
}

/* L'entête, tout en haut de la page'*/
#header
{
	border: 1px solid #000;
        border-radius: 10px;
	float:left;
	width:96%;
	height:130px;
        
	padding-top:10px;
        padding-left:1%;
        padding-right:1%;
	padding-bottom:10px;
	
	margin-top:10px;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:10px;
        
        /*background-image: url('../ressources/FondParcheminFonce.jpg');*/
	background-image:url('../ressources/header.png');
	background-repeat:no-repeat;
	background-position:left;
        
        text-align: right;
        vertical-align: bottom;
}

/* Le menu fin entre l'entête et la zone centrale */
#topmenu
{
	/*border: 1px solid #000;
        border-radius: 10px;*/
	float:left;
	width:96%;
	min-height:60px;
        
	padding-top:10px;
        padding-left:1%;
        padding-right:1%;
	padding-bottom:10px;
	
	margin-top:0px;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:0px;
        
	text-align:center;
        text-shadow: 0.5em 0.5em 0.3em #777;
	/*background-color:#AE803C;*/
        /*background-image: url('../ressources/FondParcheminFonce.jpg');*/
}

/* Le menu de gauche au milieu */
#menu
{
	/*border: 1px solid #000;*/
        border-radius: 10px;
	float:left;
	width:10%;
	min-height: 655px;
        box-shadow: 0 0 5px #666;
        
	padding-top:10px;
        padding-left:1%;
        padding-right:1%;
	padding-bottom:10px;
	
	margin-top:10px;
	margin-left:1%;
	margin-right:0%;
	margin-bottom:10px;
        
	/*background-color: #D06E3D;*/
        background-image: url('../ressources/FondParcheminRouge.jpg');
}

/* La zone centrale à droite du menu principal */
#content
{
	/*border: 1px solid #000;*/
        border-radius: 10px;
        box-shadow: 0 0 10px #666;
	
	float:left;
	width:83%;
	
	min-height:655px;
	
	padding-top:10px;
        padding-left:1%;
        padding-right:1%;
	padding-bottom:10px;
	
	margin-top:10px;
	margin-left:1%;
	margin-right:0%;
	margin-bottom:10px;
	
	/*background-color:#FFFFFF;*/
        background-image: url('../ressources/FondParchClair.jpg');
        background-size: 100%;

}

/* Le pied de page (mentions légales...) */
#footer
{
	/*border: 1px solid #000;*/
        border-radius: 10px;
        box-shadow: 0 0 5px black;
	
        float:left;
	width:96%;
	
        padding-top:10px;
        padding-left:1%;
        padding-right:1%;
	padding-bottom:10px;
	
	margin-top:10px;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:10px;
	
        /*background-color:#AE803C;*/
        background-image: url('../ressources/FondParcheminFonce.jpg');
        
        text-align: center;
}

.menuParent
{
	text-align:center;
        text-indent: 0px;
	position:relative;
	height:25px;
	width:100%;
        
        overflow : hidden ;
	
	font-weight:bold;
	
	margin-bottom:10px;
        
        display:block;
        
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0.1em 0.3em 0.3em  #222;
        color: #FEEDAA;
        
}

.menuElement
{
        color:#000;
	/*border: 1px solid #000;*/
        border-radius: 6px;
	text-align:center;
        text-indent: 0px;
        box-shadow: 0 0 5px #666;
        
        overflow : hidden ;
	
	position:relative;
	width:100%;
	
	margin-bottom: 5px;
        padding-top : 3px;
        
        padding-bottom : 3px;
	
	background-color:#FFFFFF;
        display:block;
        
        font-size: 14px;
        text-shadow: 0.15em 0.15em 0.3em #999;
        
        background-image: url('../ressources/FondParcheminClair.jpg');
}

.menuElement:link
{
        color:#000;
}

.menuElement:visited
{
        color:#000;
}

.menuElement:hover
{
        color:#C03000;
	background-color:#F6E497;
}

#hidden
{	
	float:left;
	width:100%;
	
	text-align:center;
}

.pSousTitre
{
    /*max-width:666px;*/
}

.pSousTitreCarac
{
    max-width:666px;
}


/*
.hidden
{
    display: none;
}

.unhidden
{
    display: block;
}*/