/* CSS pour la page d'alignement*/
.divMoitieGauche
{
    width: 45%;
    margin: 10px 2% 10px 2%;
    float: left;
}

.divMoitieDroite
{
    width: 45%;
    margin: 10px 2% 10px 2%;
    float: left;
}

.zoneAlignement
{
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    min-height: 140px;
}

/* CSS pour la page des dons */
.divTiersGauche
{
    width: 30%;
    margin: 10px 1% 10px 1%;
    float: left;
}

.divTiersMilieu
{
    width: 30%;
    margin: 10px 1% 10px 1%;
    float: left;
}

.divTiersDroit
{
    width: 30%;
    margin: 10px 1% 10px 1%;
    float: left;
}

.zoneDons
{
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    min-height: 120px;
}

/* CSS pour la page des caractéristiques */
.zoneCarac
{
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    min-height: 80px;
}

/* CSS pour la page des compétences */
.divHautCompe
{
    max-width: 1400px;
    margin: 0 20px 10px 20px;
    /*margin-left:auto;
    margin-right:auto;*/
}

.divTableauxCompe
{
    float:left;
}

.trTableauCompe
{
    height: 51px;
}

.tdNomCompe
{
    width:120px;
}

.tdDescrCompe
{
    width:600px;
}

.tableTableauCompe
{
    float:left;
    margin:10px;
}