/* CSS pour la page Telneria */
.zoneRegionsHaut
{
    padding-bottom: 20px;
}

.zoneRegionsBas
{
    padding: 20px 5px 20px 5px;
}

.zoneMondeUnites
{
    padding: 10px 5px 0 5px;
    float: left;
}

.zoneCarte
{
    text-align: center;
}


/*CSS pour la page équipement */

.divEquip
{
    max-width: 900px;
}

.divEquipHaut
{
    margin: 20px 2% 30px 2%;
    float:left;
    text-align: center;
}

.divEquipGauche
{
    width:35%;
    margin: 0 0 0 0;
    float:left;
    text-align: center;
}

.divEquipCentre
{
    width:30%;
    margin: 0 1% 0 1%;
    float:left;
    text-align: center;
    padding:10px;
    border-radius:20px;
    box-shadow: 0px 0px 5px rgb(102, 102, 102);
}

.divEquipDroite
{
    width:30%;
    margin: 0 0 0 0;
    float:left;
    text-align: center;
}

.pEquip
{
    text-align: center;
    font-size: 18px;
}

.divEquipBas
{
    max-width:60%;
    margin: 20px 1% 10px 7%;
    float:left;
}

.tabTitreArmes
{
    margin-right:115px;
    margin-top:15px;
}

/* CSS pour la page des monstres */
.lienMonstre
{
    text-align: center;
}

.divGroupeMonstres
{
    float:left;
    margin-left:1%;
    margin-right:1%;
    margin-top:0px;
    margin-bottom:5px;
}

.divSousGroupeMonstres
{
    float:left;
    margin-left:1%;
    margin-right:1%;
}