/* CSS pour la page Telneria */
.zoneRegionsHaut
{
    padding-bottom: 20px;
}

.zoneRegionsBas
{
    padding: 20px 5px 20px 5px;
}

.zoneMondeUnites
{
    padding: 10px 5px 0 5px;
    float: left;
}

.zoneCarte
{
    text-align: center;
}


/*CSS pour la page équipement */

.divEquip
{
    max-width: 1400px;
}

.divEquipGauche
{
    max-width:25%;
    margin: 10px 2% 10px 2%;
    float:left;
    text-align: center;
}

.pEquip
{
    text-align: center;
}

.divEquipDroite
{
    max-width:40%;
    margin: 10px 1% 10px 1%;
    float:left;
}