.divZoneCombatTitre
{
    float:left;
}

.titreCombat
{
    margin-right: 50px;
}

.divPageCombat
{
    margin-bottom: 50px;
    float:left;
}


.div30
{
    max-width: 28%;
    float:left;
    margin: 0 1%;
}

.div40
{
    max-width: 38%;
    float:left;
    margin: 0 1%;
}

.divEtroite
{
    max-width:1200px;
    float:left;
    margin-left:2%;
}