
body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;		
}

.lienBlanc
{
    color:#FFF;
}

.lienBlanc:link
{
    color:#FFF;
}

.lienBlanc:hover
{
    color:#f0ead8;
}

.lienBlanc:visited
{
    color:#FFF;
}


input
{
	background-color:#CCC;
	border: 1px solid #000;
}

a:visited
{
	color:#9A783D;
	text-decoration: none;	
}

a:link
{
	color:#9A783D;
	text-decoration: none;
}

a:hover
{
        color:#F00;
        text-decoration: none;
}

a:active
{
        color:#9A783D;
        text-decoration: none;
}


table
{
	border-collapse: separate;
        border-spacing : 0;
        border: 1px;
	border-radius:10px 10px 10px 10px;
}

td
{
	width: 80px;
        border-top : 1px solid black;
        border-left: 1px solid black;
        padding: 5px;
}


table tr:first-child td:first-child
{
    border-top-left-radius:10px;
    border-top : 1px solid black;
}

table tr:first-child td:last-child
{
    border-top-right-radius:10px;
    border-top : 1px solid black;
}

table tr:last-child td:first-child
{
    border-bottom-left-radius:10px;
}
	
table tr:last-child td:last-child
{
    border-right : 1px solid black;
    border-bottom-right-radius:10px;
}

table td:last-child
{
    border-right : 1px solid black;
}

table tr:first-child
{
    border-bottom : 1px solid black;
    border-top : 1px solid black;
}

table tr:last-child td
{
    border-bottom : 1px solid black;
}

.tdEquipement
{
	width: 100px;
        padding: 5px;
}

.tdNomEquipement
{
	width: 260px;
        padding: 5px;
}
.tdEquipementReduc
{
	width: 200px;
        padding: 5px;
}

.ptab
{
	text-align: center;
}

.ptabstrong
{
	text-align: center;
        font-weight: bold;
}

p
{
    margin: 0px;
    padding: 0px;
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 15pt;
}

li
{
    padding: 0px;
    margin-left: 20px;
    
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 15pt;
}

h1
{
    font-family: Geneva, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color : #C03000;
}

h2 a:visited
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2 a:link
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2 a:hover
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2 a:active
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2
{
    font-family: Geneva, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color : #B9121B;
}

h3
{
    font-family: Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color : #4A1A2C;
}

h4
{
    font-family: Geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color : #4C1B1B;
}

.imagePersonnage
{
    border-radius: 20px;
    max-width:100%;
    max-height: 510px;
}

.imageCarte
{
    border-radius: 20px;
    max-width:100%;
    max-height: 900px;
}