
.lienBlanc
{
    color:#FFF;
}

.lienBlanc:link
{
    color:#FFF;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.lienBlanc:hover
{
    color:#f0ead8;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.lienBlanc:visited
{
    color:#FFF;
    text-shadow: 0.1em 0.1em 0.2em black;
}

input
{
    background-color:#CCC;
    border: 1px solid #000;
}

a:visited
{
    color:#9A783D;
    text-decoration: none;	
    text-shadow: none;
}

a:link
{
    color:#9A783D;
    text-decoration: none;
    text-shadow: none;
}

a:hover
{
    color:#F00;
    text-decoration: none;
    text-shadow: none;
}

a:active
{
    color:#9A783D;
    text-decoration: none;
    text-shadow: none;
}


table
{
    border-collapse: separate;
    border-spacing : 0;
    border: 1px;
    border-radius:10px 10px 10px 10px;
    box-shadow: 1px 1px 1px 0px grey;
}

td
{
    width: 80px;
    border-top : 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
}


table tr:first-child td:first-child
{
    border-top-left-radius:10px;
    border-top : 1px solid black;
}

table tr:first-child td:last-child
{
    border-top-right-radius:10px;
    border-top : 1px solid black;
}

table tr:last-child td:first-child
{
    border-bottom-left-radius:10px;
}

table tr:last-child td:last-child
{
    border-right : 1px solid black;
    border-bottom-right-radius:10px;
}

table td:last-child
{
    border-right : 1px solid black;
}

table tr:first-child
{
    border-bottom : 1px solid black;
    border-top : 1px solid black;
}

table tr:last-child td
{
    border-bottom : 1px solid black;
}

.tdEquipement
{
    width: 100px;
    padding: 5px;
}

.tdNomEquipement
{
    width: 260px;
    padding: 5px;
}
.tdNomEquipementCommun
{
    font-weight:bold;
}
.tdDescrEquipementCommun
{
    width: 200px;
    padding: 5px;
}
.tdEquipementReduc
{
    width: 200px;
    padding: 5px;
}

.ptab
{
    text-align: center;
    text-indent: 0px;
}

.ptabstrong
{
    text-align: center;
    font-weight: bold;
    text-indent: 0px;
}

p
{
    margin: 0px;
    padding: 0px;

    font-family: 'Alegreya',Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 15pt;

    text-indent: 20px;
    text-align: justify;   
}

.titreDebutLigne
{
    font-style:italic;
    font-weight: bold;
    font-size: 14px;
}

li
{
    font-family: 'Alegreya',Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 15pt;
}

h1
{
    font-size: 23px;
    font-weight: bold;
    color : #C03000;
    text-shadow: 0.15em 0.15em 0.3em rgb(135, 135, 135);/*#777;*/
    margin-left: 30px;
}

h2 a:visited
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2 a:link
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2 a:hover
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2 a:active
{
    color : #B9121B;
    text-decoration: none;
    border: none;
}

h2
{
    font-size: 20px;
    font-weight: bold;
    color : #B9121B;
    text-shadow: 0.1em 0.1em 0.5em rgb(145, 145, 145);/*#555;*/
}

h3
{
    font-size: 18px;
    font-weight: bold;
    color : #4A1A2C;
    text-shadow: 0.1em 0.1em 0.2em rgb(175, 175, 175);;/*#888;*/
    box-shadow: 0 4px 2px -3px gray;
}

h4
{
    font-size: 17px;
    font-weight: bold;
    color : #4C1B1B;
    text-shadow: 0.1em 0.1em 0.5em rgb(185, 185, 185);/*#999;*/
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: 0 4px 2px -3px gray;
}



.pdfFichePerso
{
    float:left;
    font-size: 18px;
    text-shadow: 0.1em 0.1em 0.9em rgb(85, 85, 85) !important;
    box-shadow: 6px 0 4px  -4px #222 , -6px 0 4px  -4px #222;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    padding: 5px;
}