
body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;		
}

.lienBlanc
{
    color:#FFF;
}

.lienBlanc:link
{
    color:#FFF;
}

.lienBlanc:hover
{
    color:#f0ead8;
}

.lienBlanc:visited
{
    color:#FFF;
}


input
{
	background-color:#CCC;
	border: 1px solid #000;
}

a:visited
{
	color:#9A783D;
	text-decoration: none;	
}

a:link
{
	color:#9A783D;
	text-decoration: none;
}

a:hover
{
        color:#F00;
        text-decoration: none;
}


table
{
	border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
        border: 1px;
}

td
{
	width: 80px;
        border: 1px solid black;
        padding: 5px;
}

tr
{
	
        border: 1px solid black;
}

.tdEquipement
{
	width: 100px;
        border: 1px solid black;
        padding: 5px;
}

.tdNomEquipement
{
	width: 240px;
        border: 1px solid black;
        padding: 5px;
}

.ptab
{
	text-align: center;
}

.ptabstrong
{
	text-align: center;
        font-weight: bold;
}

p
{
    margin: 0px;
    padding: 0px;
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 15pt;
}

li
{
    padding: 0px;
    margin-left: 20px;
    
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 15pt;
}

h1
{
    font-family: Geneva, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color : #C03000;
}

h2
{
    font-family: Geneva, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color : #B9121B;
}

h3
{
    font-family: Geneva, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color : #4A1A2C;
}

h4
{
    font-family: Geneva, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color : #4C1B1B;
}

.imagePersonnage
{
    max-width:100%;
    max-height: 510px;
}

.imageCarte
{
    max-width:100%;
    max-height: 900px;
}